
body {
	background-color: #2d3033;
}

.button_block {
	margin: 10px;
	margin-right: 0px;
	width: 200px;
	height: 200px;
	background-color: #6c6e70;
	color: white;
}

.button_block:hover {
	background-color: #0c98cf;
}

.keyboard {
	margin: 10px;
	margin-right: 0px;
	width: 200px;
	height: 30%;
	background-color: #6c6e70;
	color: white;
}

.key {
	height: 50px;
}

.key:hover {
	background-color: #0c98cf;
}
